.container{
    display: flex;
    background-color: cadetblue;
    align-items: center;
    width: 60vw;
    height: 50vh;
    justify-content: space-evenly;
}

form{
    display: flex;
    width: 70%;
}

.fb{
    margin: 50px;
    width: 30%;
    position: relative;
    right: 100px;
}

.google , .facebook{
    background-color: rgba(9, 30, 66);
    margin: 10px;
    padding: 8px;
    border-radius: 20px;
    color: white;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.main{
    position: absolute;
    left: 25vw;
    top: 30vh;
}

input{
    padding: 8px 25px;
    margin: 8px;
    border-radius: 25px;
    border: none;
}

.btn{
    cursor: pointer;
}

.btn:hover{
    background-color: slategray;
    color: white;
}
