.cont{
    position: absolute;
    top: 30vh;
    left: 20vw;
    width: 60vw;
    height: 50vh;
}

.signup{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 60vw;
    height: 50vh;

}

form{
    display: flex;
    flex-direction: column;
    background-color: rgb(206, 76, 76);
    justify-content: center;
    align-items: center;
}

.message{
    font-size: small;
    color: rgb(29, 26, 26);
}